<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
      <% da = Datetime.strftime( '%A %B %-d %Y') %> 
        <h1>The date is <%=da%></h1>
    </body>
</html>