<!DOCTYPE html>
<html>
    <head>
        <title>Date</title>
    </head>
    <body>
      <% date = Datetime.now str = date.strftime( %>
        <h1>The date is %A, %B %-d, %Y </h1>
    </body>
</html>